<!doctype html>
<html lang="en">
    <head>
        <title>HTTP Error</title>
    </head>
    <body style="background-color: lightcoral">
        <%- include('../partials/userDetails') %>
        <h1>HTTP Error Code: <%= error.code %></h1>
        <h2>Error Message: <%= error.message %></h2>
    </body>
</html>
