<!doctype html>
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <%- include('../partials/userDetails') %>
        <h1>Home</h1>
        <p>Total Tickets Generated: <%= ticketCount %></p>
        <!-- Commented out because it's an excess feature -->
        <!-- <a href="/generate"><button>Generate</button></a> --> 
    </body>
</html>
