<div style="position: absolute; top: 10px; right: 10px;">
    <a href="/"><button>Home</button></a>
    <% if (user) { %>
        <div>
            <p>Currently logged in: <%= user.name %></p>
            <a href="/logout"><button>Logout</button></a>
        </div>
    <% } else { %>
        <a href="/login"><button>Login</button></a>
    <% } %>
</div>
